html {
	box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
  background-color: #ffe500;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  color: #b20953;
  text-align: center;
  font-family: 'Sigmar One', cursive;
  padding: 1em;
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #ffffff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #b20953;
}

h2 {
  color: #b20953;
  font-family: 'Sigmar One', cursive;
}

.nav .current {
  background-color: #b20953;
}

figure {
  display: block;
  margin: 0;
}

img {
  width: 100%;
}

main {
  padding: 10px;
}
