html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
}

body {
  margin: 0;

}

h1 {
  margin: 0;
  color: #b20953;
  text-align: center;
  font-family: "Sigmar One", cursive;
  padding: .5em;
  font-size: 3em;
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #b20953;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
  font-size: 2em;
  margin: 0;
}

.nav .current {
  background-color: #b20953;
}

figure {
  display: block;
  margin: 0;
}

img {
  width: 100%;
}

main {
  padding: 15px;
}

footer {
  background-color: #ffe500;
  text-align: center;
}

p {
  color: #2f2d13;
}

ul {
  margin: 0;
}
